/* CSS Document */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

header {
  width: 100%;
  background: #75081f;
  padding: 10px 0;
  float: left;
}

.login_btn {
  width: 70%;
  padding: 5px 0;
  background: #202020;
  float: right;
  margin-top: 25px;
}

.login_btn p {
  float: left;
  padding: 7px 14px 0;
  color: #fff;
}

.login_btn a {
  float: left;
  margin-top: 3%;
  padding: 1px 22px;
  background: #fff;
  color: #df645f;
  font-weight: bold;
  font-size: 12px;
}

nav {
  background: #2b2b2b !important;
  padding: 5px 0;
  float: left;
  width: 100%;
  border-bottom: 4px solid #202020 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 0 !important;
}

ul.navi {
  margin: auto;
  width: 50%;
  float: none;
}

ul.navi li {
  float: left;
  list-style: none;
  padding: 5px 20px !important;
}

ul.navi li a {
  color: #fff !important;
  font-size: 16px !important;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

ul.navi li.active > a,
ul.navi li.active > a:hover {
  background: transparent none repeat scroll 0 0 !important;
  color: #fba905 !important;
  text-shadow: none;
}

.navbar {
  border: 1px solid transparent;
  margin-bottom: 0;
  min-height: auto;
  position: relative;
}

.banner {
  float: left;
  width: 100%;
  position: relative;
  background: url(../../imgs/default/banner.jpg) no-repeat center top;
  padding: 67px 0;
  height: 580px;
}

.banner img {
  width: 100%;
}

.banner_content {
  top: 10%;
  left: 5%;
}

.banner_content h1 {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  color: #fff;
  font-size: 34px;
  letter-spacing: 2px;
  margin: 2px;
  padding: 16px 20px;
  text-transform: uppercase;
}

.banner_content p {
  color: #fba905;
  font-size: 34px;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}

.right_articale form {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  float: right;
  margin-top: 0;
  padding: 0 20px 20px;
  width: 85%;
}

.right_articale form h2 {
  text-align: center;
  color: #c0bcb8;
  padding-bottom: 9px;
}

.right_articale form p {
  float: left;
  width: 40%;
  font-size: 14px;
  color: #c5c2be;
  clear: both;
}

.right_articale form label {
  float: left;
  width: 60%;
  float: right;
  font-size: 14px;
  color: #fff;
}

.right_articale form select {
  background: #c1bcb8;
  border: none;
  color: #000;
  font-weight: normal;
  width: 100%;
  padding: 2px 0;
}

.right_articale form .birth select {
  width: 57px;
}

.big_birth {
  width: 80px !important
}

.form-control_text p {
  color: #c1bcb8 !important;
  display: block;
  margin: auto !important;
  text-align: center;
  width: 100% !important;
  padding-top: 17px;
}

.form-control_text p a {
  color: #ae273f;
}

.right_articale form input[type="text"], .right_articale form input[type="password"] {
  width: 100%;
  background: #c1bcb8;
  border: none;
  padding: 2px 0;
}

.activetion {
  color: #fff;
  float: right;
  margin-top: 1px;
  width: 59%;
}

.banner_content a {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #74071E), color-stop(0.74, #91333F));
  background-image: -o-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -moz-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -webkit-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -ms-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: linear-gradient(to bottom, #74071E 0%, #91333F 74%);
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 29px;
  padding: 12px 0;
  text-align: center;
  width: 200px;
  margin-top: 30px;
}

.right_articale form input[type="submit"] {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #74071E), color-stop(0.74, #91333F));
  background-image: -o-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -moz-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -webkit-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: -ms-linear-gradient(bottom, #74071E 0%, #91333F 74%);
  background-image: linear-gradient(to bottom, #74071E 0%, #91333F 74%);
  border: medium none;
  border-radius: 6px;
  clear: both;
  color: #fff;
  display: table-caption;
  font-size: 22px;
  margin: auto;
  padding: 13px 20px;
  margin-top: 20px;
  width: 85%;
}

.banner_text h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.banner_text h1 a {
  color: #fba905;
}

.banner_text {
  float: left;
  width: 100%;
  background: #75081f;
}

.gallery {
  float: left;
  width: 100%;
  background: url(../../imgs/default/gallery.jpg) repeat-y top center;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.gallery h2,
.about_us h2 {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: bold;
}

.gallery h2 a,
.about_us a {
  color: #ef0633;
  font-size: 29px;
}

.gallery ul {
  padding-top: 2%;
}

.gallery ul li {
  float: left;
  padding-left: 10px;
  width: 16%;
}

.address {
  font-weight: bold;
}

.images_pic {
  background: #e6483e none repeat scroll 0 0;
  height: 161px;
  overflow: hidden;
}

.age_value {
  float: left;
  width: 100%;
  background: #6e1022;
  border-bottom: 2px solid #a82441;
  padding: 10px 0;
}

.condidate_name p {
  padding: 0;
  margin: 0;
  color: #ded6d3;
  font-size: 12px;
}

.age_value h6 {
  padding: 0;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.age_valuea {
  color: #a2425b;
}

.condidate_name a {
  color: #fba905;
  font-weight: bold;
  text-decoration: underline;
}

.images_pic > img {
  height: auto;
  width: 100%;
}

.gallery ul li:first-child {
  margin-left: 0;
}

.arrow {
  width: 100%;
  text-align: center;
  float: left;
  padding-top: 2%;
}

.about_us {
  float: left;
  width: 100%;
  background: #efefef;
  padding-top: 2%;
}

.content {
  text-align: justify;
}

.heart img {
  width: 100%;
}

.workout {
  float: left;
  width: 100%;
  text-align: center;
}

.workout h2 {
  text-align: center;
  font-size: 36px;
  color: #e0133e;
  text-transform: uppercase;
  font-weight: bold;
}

.workout p {
  font-size: 18px;
  color: #555555;
}

.workout ul {
  text-align: center;
  margin: auto;
  width: 70%;
}

.workout ul li {
  float: left;
  padding-left: 4%;
}

.workout ul li h3 {
  font-size: 14px;
  font-weight: bold;
  color: #555559
}

.workout ul li p {
  font-size: 16px;
  color: #555555;
}

.find {
  text-align: center;
  border: 3px solid #e4113c;
  padding: 7px 100px;
  color: #ed0537;
  font-size: 25px;
  margin-top: 3%;
  text-transform: uppercase;
  display: inline-block;
}

.testimonial {
  background: #333333;
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 2% 0 4% 0;
  margin-top: 4%;
}

.testimonial .container {
  position: relative;
}

.testimonial h2 {
  font-size: 36px;
  text-transform: uppercase;
  background: url(../../imgs/default/test.jpg) no-repeat bottom center;
  padding-bottom: 29px;
}

.testimonial p {
  font-size: 14px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.left_arrow {
  position: absolute;
  top: 58%;
  left: 0;
}

.right_arrow {
  position: absolute;
  top: 58%;
  right: 0;
}

.testimonial a {
  border-top: 1px solid #555;
  color: #fff;
  display: inline-block;
  font-style: italic;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: bolder;
  width: 25%;
}

.testimonial li {
  margin-bottom: 15px;
}

.social {
  float: right;
}

.social ul li {
  float: left;
}

.naviget ul li a {
  color: #fff;
  font-size: 12px;
}

.naviget {
  text-align: center;
}

.footer {
  float: left;
  width: 100%;
  background: #040404;
  padding: 17px 0 8px;
}

.copiright p {
  color: #fff;
  font-size: 12px;
}


/*_______________________________________________Profile Page Design*/

.col-left {
  float: left;
  width: 65%;
}

.col-right {
  float: left;
  width: 33%;
  margin-left: 2%;
}

.profile_cont {
  overflow: hidden;
  padding: 15px 0;
  width: 100%;
}

.profile,
.match {
  border: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.profile img {
  overflow: hidden;
  width: 100%;
}

.profile a.left:link,
.profile a.left:active,
.profile a.left:visited {
  text-decoration: underline;
}

.profile a.left {
  font-weight: bold;
  margin: 6px 0 0 14px;
  color: #333;
}

#photoContainer {
  float: left;
  height: 102px;
  overflow: hidden;
  text-align: center;
  width: 102px;
}

.profile span.icon_mtb {
  float: left;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  width: auto;
}

.icon_mtb {
  display: block;
  font-style: normal;
  text-transform: uppercase;
}

.icon_mtb .fa,
.right .fa {
  color: #EF0633;
  font-size: 14px;
  margin: 0 5px 0 8px;
}

span.right {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.right {
  float: right;
}

.profile .btn_text_container {
  float: left;
  margin: 10px 0 0;
  padding: 4px 0 0 6px;
  width: 100%;
}

.add_profile > div {
  float: left;
}

.add_profile {
  float: left;
  width: 84%;
}

.profile .btn_text_container li {
  float: left;
  margin-left: 2%;
}

.btn_text {
  border: 1px solid #efefef;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px;
  padding: 7px 6px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.btn_text:hover {
  background: #FFE9FE;
  text-decoration: none;
  border: 1px solid #EF0633;
}

.title {
  background: #f7f7f7 none repeat scroll 0 0;
  float: left;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}

.title h3 {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.title > span {
  background: #A82441 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 22px;
  margin-right: 10px;
  text-align: center;
  width: 22px;
}

.match ul {
  float: left;
  width: 100%;
}

.match li {
  display: block;
  float: left;
  padding: 4px;
  text-align: center;
  width: 20%;
}

.match li a img {
  float: left;
  width: 100%;
}

.match li a {
  float: left;
  width: 100%;
}

.match li p {
  color: #666;
  float: left;
  font-weight: bold;
  margin: 5px 0 0;
  padding: 3px 0;
  width: 100%;
}

a.view {
  background: #f7f7f7 none repeat scroll 0 0;
  float: left;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.match fieldset {
  float: left;
  padding: 10px;
  width: 50%;
}

.btn_text .fa {
  color: #777;
  float: left;
  line-height: 16px;
  margin-right: 5px;
}

#frm_quickSearch span {
  color: #555;
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
}

.match select {
  border: 1px solid #ccc;
  padding: 3px 15px;
  width: auto;
}

.match input[type="submit"] {
  background: #a82441 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: right;
  padding: 5px 20px;
  text-transform: uppercase;
}


/*+++++++++++++++++++++++++NEWS+++++++++++++++++++*/

#home_news_box {
  text-align: left;
  width: 400px;
  background: #F7F7F7;
  padding: 15px;
  margin-left: 0px;
  float: left;
}

.news_boxes {
  border-top: 1px solid #efefef;
  color: #333;
  float: left;
  font-size: 11px;
  padding: 10px 5px 8px;
  width: 100%;
}

.home_news_img img {
  height: auto;
  width: 100%;
}

.home_news_img {
  border: 1px solid #aaaaaa;
  float: left;
  height: auto;
  margin-right: 12px;
  width: 20%;
}

#home_news_box h3 {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
  text-transform: uppercase;
}

.news_head {
  font-weight: bold;
  color: #ee9803;
  font-size: 11px;
  margin: 0;
}

a.news_head {
  color: #a82441;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}


/*-----------Baby-------------*/

* {
  font-family: arial
}

.profile h1 {
  font-size: 16px;
  margin-top: 0px;
  font-weight: bold;
  color: #000;
}

.profile table {
  width: 100%;
}

.profile table th,
.profile table td {
  width: 50%;
  padding: 5px 0px;
  border-bottom: 1px solid #E4E2E2;
}

.profilevew tr {}

.profile_view p {
  color: #676262;
}

.profile_view p b {
  color: #000;
}

.profile_view li a {
  color: #676262;
}

.profile_view li {
  margin-bottom: 15px;
}

.profile_view li a span {
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #A82441;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

a:hover,
a:focus {
  text-decoration: none !important;
  color: #A82441 !important;
  transition: 0.5s all;
}

.profile_view ul {
  border: 1px solid #E2E2E2;
  padding: 10px;
}

.profile_view h1 a {
  color: #0BC35F !important;
  font-size: 12px;
  text-transform: capitalize;
}

.profile h1 span.fa.fa-video-camera {
  color: #fff;
  background: #57C35F;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.matchb li {
  display: inline-block;
  float: left;
  height: 95px;
  margin: 1px 3px;
  padding: 3px;
  text-align: center;
  width: 31%;
}

h1.tit_b {
  border-bottom: 1px dashed #f7f7f7;
  color: #a82441;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 8px 0;
}

.matchb ul {
  border: 0px;
  padding: 0px;
}

.matchb a {
  color: #A82441 !important;
  font-weight: bold;
  font-size: 12px;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #c9302c;
  border-color: #ac2925;
}

.profile_view li a:hover span {
  background: #75081F;
}

.thumbnail {
  margin-bottom: 0px !important;
}


/*____________________________EDIT MY PROFILE_________________________________*/

ul.edit {
  border: medium none;
  float: left;
  margin: 0;
}

ul.edit li a {
  background: #f7f7f7 none repeat scroll 0 0;
  color: #337ab7;
  font-weight: bold;
}

a.btn_text.inner_b {
  float: right;
  padding: 2px 4px;
  color: #337ab7 !important;
  width: auto;
}
